/**-------------------------**\
 * General
\**-------------------------**/


html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, 'sans-serif';
}


/**-------------------------**\
 * App
\**-------------------------**/


.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  background: #4b4b4b;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.64);

    h1 {
      margin: 0;
      padding-left: 1em;
      color: #fff;
    }
  }

  &__container {
    width: 550px;
    max-width: 100%;
    height: 550px;
    max-height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.64);
  }
}